body {
    background-color:rgb(176, 224, 255);
}

.div1 { 
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width : 800px;
    height: 1500px;     
}

.div1 img {
    width: 200px;
    height: 200px;
    object-fit: cover; 
    border-radius: 30px;
}

.div1 .text {
    display: inline-block;
    vertical-align: top;
    padding: 0.5cm; 
}

.div1 .text #subheader1 {
    color: rgb(60, 61, 61);
}

.div1 .text p {
    line-height: 0.005cm;
    color: rgb(60, 61, 61);
}

.div1 .content1 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width : 800px;
    height: 200px;  
    border-radius: 30px;
    background-color: rgb(255, 255, 255);  
}

.div1 .content1 ol {
    line-height: 1.5;
    font-size: 16px;
    color: gray;
}

.div1 h3 {
    padding-top: 0.6cm;
    padding-left: 0.8cm;
    line-height: 0.5; 
}

.div1 .content2 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width : 800px;
    height: 200px;  
    border-radius: 30px;
    background-color: rgb(255, 255, 255);   
} 

.content2 table th  {
    padding-left: 0.5cm;
    padding-right: 5.5cm;
    line-height: 1.5; 
}
.content2 table td  {
    padding-left: 0.5cm;
    padding-right: 5.5cm;
    line-height: 1.5; 
    color: rgb(137, 136, 136); 
}

.content3 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width : 800px;
    height: 250px;  
    border-radius: 30px;
    background-color: rgb(255, 255, 255);  
    padding: 0.001cm;
}
.content3 p {
    padding-left: 0.5cm;
    line-height: 0.02cm;
}
.content3 hr {
    line-height: 0.01;
}

.div1 #contactMe {
    padding-top: 5%;
    position:relative; 
    left: 42%;
}

.div1 input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    background-color:rgb(176, 224, 255);
    line-height: 30px;
}

label {
    color: gray;
}

.div1 .button1 {
    background-color: black;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    position:relative; 
    left: 3%;
    margin-top:30%;
}